# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.go/
coverage.out
*.log

# Provider binary
terraform-provider-truenas

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate*
terraform.tfvars

# GoReleaser
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
live-test/

# Local env
.envrc.local
*.html
report.json
go-mutesting-*
.envrc.local-25-04
.envrc.local-26-beta
skaff
wspreflight
